@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#f7f7f7;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}

.etn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid var(--red);
  color:var(--red);
  cursor: pointer;
  font-size: 15px;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.etn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:var(--red);
  transition: .3s linear;
  z-index: -1;
}

.etn:hover::before{
  width:100%;
  left: 0;
}

.etn:hover{
  color:#fff;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  padding:2rem 5%; /* 10% */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.content{
  margin-top: 6%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#666;
}

header .logo i{
  padding-right: .5rem;
  color:var(--red);
}

header .navbar1 a{
  font-size: 2rem;
  margin-left: 2rem;
  color:#666;
  text-decoration: none;
  
}

header .navbar1 a:hover{
  color:var(--red);
  text-decoration: none;
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:100%;
  padding:1rem;
  animation:float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(2rem);
  }
}

.home .content h3{
  font-size: 5rem;
  color:#333;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}


a:hover {
  text-decoration: none;
}

.content p {
  font-size: 30px;
}


.cards1{
  margin-top: 10%;
}


.box:hover {
  box-shadow: rgba(65, 255, 48, 0.48) 6px 2px 16px 0px, rgba(14, 167, 255, 0.8) -6px -2px 16px 0px;
  transform: translateY(-20px);
  transition: 0.5s;
  
}

.box1:hover {
  box-shadow: rgba(252, 15, 240, 0.925) 6px 2px 16px 0px,rgba(0, 162, 255, 0.8) -6px -2px 16px 0px;
  transform: translateY(-20px);
  transition: 0.5s;
}
.box2:hover {
  box-shadow: rgba(48, 158, 255, 0.48) 6px 2px 16px 0px, rgba(14, 255, 66, 0.8) -6px -2px 16px 0px;
  transform: translateY(-20px);
  transition: 0.5s;
}

.app{
  padding-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.lols{
  margin-bottom: 18%;
  margin-left: -10%;
  margin-right:10%;
  color:#ff3838;
  text-align: center;
}

.app img {
  transform: rotate(11deg);
}
/*
.appbtn{
  margin-top:20%;
}

.img-s1 {
  margin-left: 1%;
  margin-top: -40%;
  margin-bottom: -60%;
}
*/
.footor{
  color:#000000;
}
/*
.side{

  float: right;
  padding-left: 30%;
}

.side1{
  float: left;
}

.copy{

  margin-top: 10%;
  justify-content: center;
  margin-left: 42%;
  font-size: 20px;
}
*/
.drop {
  border:groove;
  font-size: 14px;
}


/*Na panna edit uh*/

ul{
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
footer{
  background: linear-gradient(to bottom right, rgb(233, 233, 233),#ff1515);
  width: 100%;
}

.headertext{
  font-family: 'Nunito', sans-serif;
  color: #ff3838;
}
.headericons{
  font-size: 22px;
}

.footerleft{
  text-align: center;
}
.footerleft a{
  text-decoration: none;
}
.footercenter{
  text-align: center;
}
.footerright{
  text-align: center;
}
.footerright a{
  text-decoration: none;
}

.lols h1{
  font-size:30px;
  text-align: center;
  margin-top: 14%;
}
.lols a{
  color: inherit;
  text-decoration: none;
}


@media (max-width:636px)  {
  .content{
    margin-top: 100px;
  }
}
@media (min-width:994px) {
  .image{
    margin-top: 10%;
  }
}
@media (max-width: 991px) {
  .content{
    margin-top: 180px;
  }
}